<?php

namespace {LESCRIPT_NAMESPACE}\Responses\Error;

use {LESCRIPT_NAMESPACE}\Entities\Status;
use {LESCRIPT_NAMESPACE}\Responses\ResponseInterface;

class Response implements ResponseInterface
{
    private $status;

    public function __construct(Status $status)
    {
        $this->status = $status;
    }

    public function getStatus(): Status
    {
        return $this->status;
    }
}
